




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Raleway:ital,wght@0,300;0,700;1,200;1,500&display=swap');


:root{
            --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);


            --background-video: linear-gradient(135deg, #3409977a 0%, #54238b42 100%);
            
            --color-primary:#667eea;
            --color-secondary:#ad9ae3d6;
            --boton-padding: 20px 40px;
}


body{
            font-family: 'Raleway', sans-serif;
}

.container{
            width: 90%;
            margin: 0 auto;
            overflow: hidden;
            padding: 70px 0;
            max-width: 1200px;
}



.subtitle{
            color: var(--color-primary);
            font-size: 2.5rem;
            margin-bottom: 40px;
            
}

.hero{
            height: 100vh;
            background-image: var(--background), url('../assets/jardin\ 20.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            position: relative;
}

.hero .container{
            padding: 0%;
}

.nav{
            display: flex;
            justify-content: flex-end;
            height: 70px;
            align-items: center;
            font-weight: 700;
}

.nav--footer{
            font-weight: 300;
            justify-content: flex-start;
}

.nav__items{
            color:#fff;
            text-decoration: none;
            margin-right: 20px;
            padding: 10px 15px;
            font-weight: inherit;
}

.nav__items--cta{
            border: 1px solid #fff;
}

.nav__items--footer{
            padding: 10px;
}

.hero__container{
            display: flex;
            height: calc(100vh - 70px);
            align-items: center;
            color: #fff;
}

.hero__texts{
            width: 80%;
            margin-bottom: 50px;
}

.hero__title{
            font-size: 3.2rem;
}


.hero__subtitle{
            font-size: 2rem;
            font-weight: 300;
            margin: 15px 0;
}


.hero__cta{
            display: inline-block;
            background: #fff;
            padding: var(--boton-padding);
            color: var(--color-primary);
            text-decoration: none;
            border-radius: 40px;
}


.hero__wave{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
}

/*comienza sección about*/

.presentation{
            padding-top: 0;
            text-align: center;   
}

.presentation__picture{
            width: 190px;
            height: 190px;
            border-radius: 50%;
            margin-bottom: 35px;
            object-fit: cover;
            object-position: top;
}

.presentation__copy{
            width: 80%;
            margin: 0 auto;
}

.presentation__cta{
            display: inline-block;
            margin-top: 60px;
            background:#9e7dea;
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: var(--boton-padding);
            border-radius: 40px;
}


.container__video{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75vh;
            background-position: center;
            background-image: var(--background-video), url('../assets/fondovideo2.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            position: relative;
}

.video{
            width: 100%;

}

.c-video{
            width: 100%;
            max-width: 800px;        
            border-color: #667eea;
}


.about{
            min-height: 400px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 80px;
            justify-items: center;
            align-items: center;
}




.about__img{
            text-align: right; 
}

.about__img--left{
            text-align: left;
}

.about__picture{
            max-width: 92%;
            border-radius: 10px;

}

.about__paragraph{
            margin-bottom: 20px;
            line-height: 1.5;
            font-weight: 300;
            text-align: justify;
}

/*proyectos*/

.projects{
            background: #f2f2f2;
}

.projects__grid{
            display: grid;
            height: 550px;
            grid-template-areas: 
            "img1 img1 img2 img3"
            "img1 img1 img4 img5";
            gap: 10px;
}

.projects__item{
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
}

.projects__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
}

.projects__item:nth-of-type(1){
            grid-area: img1;
}
.projects__item:nth-of-type(2){
            grid-area: img2;
}
.projects__item:nth-of-type(3){
            grid-area: img3;
}
.projects__item:nth-of-type(4){
            grid-area: img4;
}
.projects__item:nth-of-type(5){
            grid-area: img5;
}

.projects__hover{
            position: absolute;
            background:rgba(95, 244, 255, 0.658);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transform: translateX(100%);
            cursor: pointer;
            transition: transform .3s ease-in-out;
}

.projects__item:hover .projects__hover{
            transform: translateX(0%);
}

.projects__icon{
            margin-top: 10px;
            font-size: 30px;
}

/*testimonios*/

.testimony__grid{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
}

.testimony__item{
            width: 95%;
            margin: 0 auto;
            background: var(--color-secondary);
            box-shadow: 0 8px 10px rgb(66,66,66, .5);
            border-radius: 7px;
            padding: 30px 25px;
            color: rgb(255, 255, 255);
            margin-bottom: 50px;
}

.testimony__person{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
}

.testimony__img{
            width: 130px;
            min-width: 130px;
            height: 130px;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
            border: 3px solid rgba(255, 255, 255, 0.481);
            margin-right: 20px;
}

.testimony__name{
            font-size: 1.5rem;
            margin-bottom: 10px;
}

.testimony__verification{
            color: #69618f;
            font-weight: 700;
            
}

.testimony__review{
            font-weight: 300;
            text-align: justify;
}

/*footer*/

.footer{
            background: var(--color-primary);
}
























footer .contacto {



                        height: 400px;

                        background-position: center;
                        padding: 50px 0;


                        height: 100vh;
                        background-image: var(--background),
                        url('../assets/jardin\ 10.jpg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-attachment: fixed;
                        background-position: center;
                        position: relative;



}
.main {
            margin: auto;
            width: 90%;
            max-width: 1000px;
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0.472), rgba(255, 255, 255, 0.365));
            overflow: hidden;
            padding: .7em;
            border-radius: 1em;

            display: grid;
            grid-auto-rows: max-content;
            grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
            gap: .6em;

            animation: mostrar 1.5s ease-in-out;
}

@keyframes mostrar {
            0% {
                        opacity: 0;
            }

            100% {
                        opacity: 1;
            }
}

.main__figure {
            overflow: hidden;
            border-radius: 1em;
            background-color: #ffffff;
            display: flex;
}

.main__img {
            margin: auto;
            width: 80%;
            max-width: 60vw;
}

.main__contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5em;
            padding: 0em .0em;
            text-align: center;
}

.main__form {
            display: grid;
            justify-items: center;
            gap: 1em;
}


.main__input {
            width: 80%;
            max-width: 500px;
            outline: none;
            border: none;
            padding: 1em;
            font: inherit;
            border-radius: .6em;
}

.main__input--send {
            background-color: #8e6ae2;
            color: rgb(255, 255, 255);
            font-weight: 600;
            cursor: pointer;
}

.main__title {
            font-size: 2.3rem;
            color: #fff;
}

.main__paragraph {
            margin: .3em 0;
            color: #fff;
            font-weight: 700;
}


.main__social {
            display: grid;
            grid-auto-flow: column;
            justify-content: center;
            grid-auto-columns: max-content;
            gap: 1em;
}

.main__link {
            border: 1px solid #fff;
            border-radius: 10px;
            padding: .6em 1.5em;
}

.main__link:hover {
            background-color: #fff;
}

.main__icon {
            width: 30px;
            height: 30px;
}






.footer__grid{
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: 20px;
            align-items: center;
}

.footer__title{
            font-weight: 400;
            color: #fff;
            font-size: 2rem;
            margin-bottom: 30px;
            text-align: center;
}

.footer__icons{
            display: flex;
            justify-content: space-evenly;
}

.footer__container-icons{
            display: inline-block;
            width: 60px;
            height: 60px;
            color: #fff;
            text-align: center;
            border: 1px solid #fff;
            border-radius: 50%;
}

.footer__icon{
            color: inherit;
            font-size: 30px;
            text-decoration: none;
            line-height: 60px;
}

.fab.footer__icon{
            line-height: 60px;
            
}

.fa.footer__icon{
            line-height: 60px;

}

.autor{
                        color: #fff;
                        text-decoration: none;
                        text-align: center;                      
                        padding: 5px 10px;
                        font-weight: inherit;

}



element.style {
            padding-bottom: 30px;
}


/* responsive design*/


@media screen and (max-width:800px){
            :root{
            --boton-padding: 18px 40px;
            }

            .nav{
                        justify-content: space-around;
            }

            .nav__items{
                        font-weight: 400;
                        border-bottom: 1px solid #fff;
                        margin-right: 0;
            }

            .nav__items--cta{
                        border: none;
            }
            .nav__items--footer{
                        border: none;
            }

            .hero__texts{
                        width: 100%;
                        margin-bottom: 80px;
            }

            .hero__title{
                        font-size: 2.5rem;
            }

            .hero__subtitle{
                        font-size: 1.5rem;
            }

            /* about */

            .presentation__copy{
                        width: 100%;
            }

            .about{
                        grid-template-columns: 1fr;
            }

            .about__container{
                        padding-top: 30px;
            }


            .about__img{
                        text-align: center; 
            }





    


            .about__img--left{
                        text-align: center; 
            }

            .about__texts:last-child{
                        grid-row: 3/4;
            }


            

            /* My projects */

            grid-template-areas:
            "img1 img1 img2 img3"
            "img1 img1 img4 img5";

            .projects__grid{
                        grid-template-areas:
                        "img1 img1 img2 img2"
                        "img1 img1 img3 img3"
                        "img4 img4 img5 img5";
            }

            /* testimony */
            
            .testimony__grid{
                        grid-template-columns: 1fr;
                        gap: 30px;
            }
            
            /* footer */

            .footer__grid{
                        grid-template-columns: 1fr;
            }

            .footer__contact{
                        grid-row: 1/2;
            }
}







@media screen and (max-width: 500px) {
            :root{
                        --boton-padding: 18px 35px;
            }

            .subtitle{
                        font-size: 2rem;
                        margin-bottom: 20px;
            }


            .nav{
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        margin-top: 10px;
            }

            .nav__items{
                        padding: 0 10px;
                        border: 0;
            }

            .hero__texts{
                        text-align: center;
                        margin-bottom: 100px;
            }

            .hero__title{
                        font-size: 2rem;
            }

            /* about */

            .presentation__picture{
                        width: 120px;
                        height: 120px;
            }

            .about{
                        row-gap: 60px;
            }

            .about.container{
                        padding-top: 10px;
            }

            /* my projects */

            .projects__grid{
                        grid-template-areas:
                        "img1"
                        "img2"
                        "img3"
                        "img4"
                        "img5";
                        height: auto;
                        grid-template-rows: repeat (5, 250px);
                        grid-auto-rows: 250px;
                        gap: 10px;
            }

            /* testimony */

            .testimony__item{
                        padding: 30px 15px;
            }

            .hero__texts{
                        text-align: center;
            }
            
            .testimony__person{
                        flex-direction: column;
            }

            .testimony__texts{
                        text-align: center;
            }

            .testimony__img{
                        margin: 0;
                        margin-bottom: 20px;
            }

}


















































